In [25]:
import numpy as np
import pandas as pd
import math

In [26]:
# movies and critics
dataset={'Lisa Rose': {'Lady in the Water': 2.5, 'Snakes on a Plane': 3.5,'Just My Luck': 3.0, 'Superman Returns': 3.5, 'You, Me and Dupree': 2.5,'The Night Listener': 3.0},
        'Gene Seymour': {'Lady in the Water': 3.0, 'Snakes on a Plane': 3.5,'Just My Luck': 1.5, 'Superman Returns': 5.0, 'The Night Listener': 3.0,'You, Me and Dupree': 3.5},
        'Michael Phillips': {'Lady in the Water': 2.5, 'Snakes on a Plane': 3.0,'Superman Returns': 3.5, 'The Night Listener': 4.0},
        'Claudia Puig': {'Snakes on a Plane': 3.5, 'Just My Luck': 3.0,'The Night Listener': 4.5, 'Superman Returns': 4.0,'You, Me and Dupree': 2.5},
        'Mick LaSalle': {'Lady in the Water': 3.0, 'Snakes on a Plane': 4.0,'Just My Luck': 2.0, 'Superman Returns': 3.0, 'The Night Listener': 3.0,'You, Me and Dupree': 2.0},
        'Jack Matthews': {'Lady in the Water': 3.0, 'Snakes on a Plane': 4.0,'The Night Listener': 3.0, 'Superman Returns': 5.0, 'You, Me and Dupree': 3.5},
        'Toby': {'Snakes on a Plane':4.5,'You, Me and Dupree':1.0,'Superman Returns':4.0}}

In [27]:
data=pd.DataFrame(dataset).fillna(0)
data

,Lisa Rose,Gene Seymour,Michael Phillips,Claudia Puig,Mick LaSalle,Jack Matthews,Toby
Lady in the Water,2.5,3.0,2.5,0.0,3.0,3.0,0.0
Snakes on a Plane,3.5,3.5,3.0,3.5,4.0,4.0,4.5
Just My Luck,3.0,1.5,0.0,3.0,2.0,0.0,0.0
Superman Returns,3.5,5.0,3.5,4.0,3.0,5.0,4.0
"You, Me and Dupree",2.5,3.5,0.0,2.5,2.0,3.5,1.0
The Night Listener,3.0,3.0,4.0,4.5,3.0,3.0,0.0

In [28]:
# Euclidean Distance

#now finding the similarity between any two person using Euclidean distance
def get_similarity(data,p1,p2):
    #for finding the similarity between tow person 
    #we need to find the similar item between them. Similar item mean ..rate score against same movie
    
    p1=[score for key,score in data[p1].items()]
    p2=[score for key,score in data[p2].items()]
    
    sum_of_square=sum(pow(p1[index]-p2[index],2) for index in range(len(p1)) if p2[index]!=0 and p1[index]!=0)
        
    return 1/(1+sum_of_square)

In [29]:
get_similarity(data,"Gene Seymour","Toby")

0.10810810810810811

In [30]:
# Ranking List : Euclidean distance

#lets i want find the distance between Lisa Rose and every other person

ranking={}
names=list(data.columns)
for person in names:
    ranking[person]=get_similarity(data,"Lisa Rose",person)

sortedlist=sorted(ranking,key=ranking.get,reverse=True)

for key in sortedlist:
    print("%20s %20f"%(key,ranking[key]))

           Lisa Rose             1.000000
    Michael Phillips             0.444444
        Mick LaSalle             0.333333
        Claudia Puig             0.285714
                Toby             0.222222
       Jack Matthews             0.210526
        Gene Seymour             0.148148

In [31]:
# Pearson correlation

def sim_correlation(data,p1,p2):
    #finding x and y
    list_p1=list(data[p1])
    list_p2=list(data[p2])
    
    #finding step1 and 2
    sum1=sum(list_p1[index] for index in range(len(list_p1)) if list_p2[index]!=0)
    sum2=sum(list_p2[index] for index in range(len(list_p2)) if list_p1[index]!=0)
    
    #doing step 3
    pSum=sum([list_p1[index]*list_p2[index] for index in range(len(list_p1)) if list_p1[index]!=0 and list_p2[index]!=0])
    
    #doing Step 5 and 6
    sum1sqr=sum([pow(list_p1[index],2) for index in range(len(list_p1)) if list_p1[index]!=0 and list_p2[index]!=0])
    sum2sqr=sum([pow(list_p2[index],2) for index in range(len(list_p2)) if list_p1[index]!=0 and list_p2[index]!=0])
    
    #n-of nummerator
    n=([index for index in range(len(list_p1)) if list_p1[index]!=0 and list_p2[index]!=0])
    n=len(n)
    
    #nummerator
    num=pSum-(sum1*sum2/n)
    
    #Denamuerator
    den=math.sqrt(sum1sqr-pow(sum1,2)/n)*math.sqrt(sum2sqr-pow(sum2,2)/n)
    
    r=num/den
    
    return r

sim_correlation(data,"Lisa Rose","Gene Seymour")

0.39605901719066977

In [32]:
# Rakning for pearson Correlation score

#lets i want find the distance between Lisa Rose and every other person

ranking={}
names=list(data.columns)
for person in names:
    ranking[person]=sim_correlation(data,"Lisa Rose",person)

sortedlist=sorted(ranking,key=ranking.get,reverse=True)

for key in sortedlist:
    print("%20s %20f"%(key,ranking[key]))

           Lisa Rose             1.000000
                Toby             0.991241
       Jack Matthews             0.747018
        Mick LaSalle             0.594089
        Claudia Puig             0.566947
    Michael Phillips             0.404520
        Gene Seymour             0.396059

In [33]:
#lets i want find the distance between Lisa Rose and every other person

ranking={}
names=list(data.columns)
for person in names:
    ranking[person]=get_similarity(data,"Lisa Rose",person)

sortedlist=sorted(ranking,key=ranking.get,reverse=True)

for key in sortedlist:
    print("%20s %20f"%(key,ranking[key]))

           Lisa Rose             1.000000
    Michael Phillips             0.444444
        Mick LaSalle             0.333333
        Claudia Puig             0.285714
                Toby             0.222222
       Jack Matthews             0.210526
        Gene Seymour             0.148148

In [34]:
# User Baased Collebrative filtering

# Recommendation item ..Similarity between person and item

def get_recommendation_item(data,person):
    totals={}
    simSum={}
    names=list(data.columns)
    movies=list(data.transpose().columns)

    for other in names:
        if other==person:
            continue
        sim=sim_correlation(data,person,other)
        
        if sim<=0:
            continue
        
        for item in movies:
            if data[person][item]==0 and data[other][item]!=0:
                totals.setdefault(item,0)
                totals[item]+=data[other][item]*sim
                simSum.setdefault(item,0)
                simSum[item]+=sim
    ranking=[(total/simSum[item],item) for item,total in totals.items()]
              
    ranking.sort()
    ranking.reverse()
    
    return ranking


get_recommendation_item(data,"Toby")

[(3.3477895267131017, 'The Night Listener'),
 (2.8325499182641622, 'Lady in the Water'),
 (2.5309807037655645, 'Just My Luck')]

In [35]:
# Item Based Collbarative Filtering

def top_matches_items(data,movie,n=5):
    data=data.transpose()
    movies=list(data.columns)
        
    score=[(sim_correlation(data,other,movie),other) for other in movies if other!=movie]
    score.sort()
    score.reverse()
    return score[0:n]

sim=top_matches_items(data,'Superman Returns')
sim

[(0.6579516949597696, 'You, Me and Dupree'),
 (0.4879500364742689, 'Lady in the Water'),
 (0.11180339887498941, 'Snakes on a Plane'),
 (-0.1798471947990544, 'The Night Listener'),
 (-0.42289003161103106, 'Just My Luck')]

In [36]:
def calculate_similar_items(data,n=10):
    #creating dictionary of item which show which itenms are most similar
    result={}
    movies=list(data.transpose().columns)
    for item in movies:
        score=top_matches_items(data,item,n)
        result[item]=score
        
    return result

calculate_similar_items(data)

{'Lady in the Water': [(0.7637626158259785, 'Snakes on a Plane'),
  (0.4879500364742689, 'Superman Returns'),
  (0.3333333333333333, 'You, Me and Dupree'),
  (-0.6123724356957927, 'The Night Listener'),
  (-0.9449111825230676, 'Just My Luck')],
 'Snakes on a Plane': [(0.7637626158259785, 'Lady in the Water'),
  (0.11180339887498941, 'Superman Returns'),
  (-0.3333333333333333, 'Just My Luck'),
  (-0.5663521139548529, 'The Night Listener'),
  (-0.6454972243679047, 'You, Me and Dupree')],
 'Just My Luck': [(0.5555555555555556, 'The Night Listener'),
  (-0.3333333333333333, 'Snakes on a Plane'),
  (-0.42289003161103106, 'Superman Returns'),
  (-0.48566186425718266, 'You, Me and Dupree'),
  (-0.9449111825230676, 'Lady in the Water')],
 'Superman Returns': [(0.6579516949597696, 'You, Me and Dupree'),
  (0.4879500364742689, 'Lady in the Water'),
  (0.11180339887498941, 'Snakes on a Plane'),
  (-0.1798471947990544, 'The Night Listener'),
  (-0.42289003161103106, 'Just My Luck')],
 'You, Me and Dupree': [(0.6579516949597696, 'Superman Returns'),
  (0.3333333333333333, 'Lady in the Water'),
  (-0.250000000000002, 'The Night Listener'),
  (-0.48566186425718266, 'Just My Luck'),
  (-0.6454972243679047, 'Snakes on a Plane')],
 'The Night Listener': [(0.5555555555555556, 'Just My Luck'),
  (-0.1798471947990544, 'Superman Returns'),
  (-0.250000000000002, 'You, Me and Dupree'),
  (-0.5663521139548529, 'Snakes on a Plane'),
  (-0.6123724356957927, 'Lady in the Water')]}

In [37]:
def get_recommendaded_items_rebuild(data,ralatedmovie,person):
    userrating=[(movie,rate) for movie,rate in data[person].items() if rate!=0]
    userrating=dict(userrating)
    score={}
    totalSim={}
    
    for movie,rating in userrating.items():
        
        for similarity,submovie in ralatedmovie[movie]:
            
            if submovie in userrating:
                continue
            #wheighted sum of rating times similarity
            score.setdefault(submovie,0)
            score[submovie]+=similarity*rating
            
            #Sum of all the similarities 
            totalSim.setdefault(submovie,0)
            totalSim[submovie]+=similarity
    #divid each total score by total weighting to get an average
    rankings=[(score/totalSim[item],item) for item,score in score.items()]
    
    #Return the rankings from highes to lwoest
    rankings.sort()
    rankings.reverse()
    return rankings
    
sim=calculate_similar_items(data, 5)
get_recommendaded_items_rebuild(data,sim, "Toby")

[(3.610031066802182, 'Lady in the Water'),
 (3.5313950341859766, 'The Night Listener'),
 (2.9609998607242685, 'Just My Luck')]